.jumbotron {
    background-color: rgb(8, 13, 92);
    color: white;
    margin-top: 50px;
    width: 100%;
}


body { 
    display: flex; 
    flex-wrap: wrap; 
    min-height: 100vh; 
}


footer {
    padding: 10px 10px 0 10px;
    background-color:rgb(53, 51, 51) ;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
    width: 100%;  
    flex-wrap: wrap; 
    align-self: flex-end;
}

.card-hotel {
    margin-top: 10px;
    text-align: center;
    margin-left: 5px;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.link-footer {
    color: white;
}

.footer-address-icon {
    padding-right: 10px;
}

.banner-responsive {
    width: 100%;
    
}

.tab-content {
    padding-top: 15px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 15px;
    text-align: center;
}