.jumbotron {
  background-color: #2aa308;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%; }

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #6e6e6e;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
  width: 100%;
  flex-wrap: wrap;
  align-self: flex-end; }

.card-hotel {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  margin-left: 5px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.link-footer {
  color: #ffffff; }

.footer-address-icon {
  padding-right: 10px; }

.banner-responsive {
  width: 100%; }

.tab-content {
  padding-top: 15px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center; }
