$yellow: #ffff38;
$red: #db1634;
$green: #2aa308;
$blue: #00497d;
$white : #ffffff;
$gray: #6e6e6e;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $green;
    color: $white;
    @include margenes(50px, 10px);
    width: 100%;
}


body { 
    display: flex; 
    flex-wrap: wrap; 
    min-height: 100vh; 
}


footer {
    padding: 10px 10px 0 10px;
    background-color: $gray;
    @include margenes(10px, 0px);
    color: white;
    width: 100%;  
    flex-wrap: wrap; 
    align-self: flex-end;
}

.card-hotel {
    @include margenes(10px, 0px);
    text-align: center;
    margin-left: 5px;
}



.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.link-footer {
    color: $white;
}

.footer-address-icon {
    padding-right: 10px;
}

.banner-responsive {
    width: 100%;
    
}

.tab-content {
    padding-top: 15px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    @include margenes(15px,0px);
    text-align: center;
}